body {
   background-color: black;
}

div {
   box-sizing: border-box;
}

.megaboard {
   background-color: black;
   color: #CAD2C5;
   /* border: 1px solid black; */
}

.profile-image {
   height: auto;
}

.main-container {
   height: 50vh;
}

.grid {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
}

.card {
   border: 1px solid black;
   height: 40px;
}

.sidebar {
   border: 1px solid black;
   grid-column: 1/4;
   background-color: #CAD2C5;
}

.main-content {
   border: 1px solid black;
   grid-column: 4/13;
   background-color: #CAD2C5;
}